<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!DOCTYPE html>
<html>
<head>
    <title>Multiple IFTTT Triggers</title>
    <meta name="description" content="Trigger multiple services with IFTTT">
    <link id="favicon" rel="icon" href="https://glitch.com/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<header>
    <h1>
        Congrats, you found Joe's IFTTT Server
    </h1>
</header>
<main>
    <p>How does it work?? Who knows!</p>
</main>

</body>
</html>
